# IDE and OS files
.DS_Store
.vscode/
.idea/

# Composer files
/vendor/
composer.lock

# Node.js files
node_modules/

# Build files
gravity-forms-validator.zip
gravity-forms-validator-*.zip
*.tar.gz
*.tgz